*,
body,
html {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

.header {
    font-family: "Poppins", sans-serif;
}

label {
    color: grey;
    font-style: italic;
}

.nav-admin:hover {
    background-color: lightgrey;
}

.bg-color {
    background-color: #ffbf03;
}
.bg-color2 {
    background-color: #fff5e0;
}
.bg-color3 {
    background-color: #ffef94;
}

.color-white {
    color: white;
}

.bg-login {
    background: url("/assets/images/background-layanan-kamu.png") no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-item.act > a:hover {
    color: white;
}

.layanan-item {
    transition: transform 0.2s;
}

.layanan-item:hover {
    transform: scale(1.1);
    border: 1px solid #d2d2d2;
}

#layanan-kami {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    height: 90vh;
    background-image: url("/assets/images/background-layanan-kami.png");
    background-size: 100% 100%;
}

.card-layanan {
    transition: transform 0.2s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: none;
    width: 18rem;
}

.card-layanan:hover {
    transform: scale(1.1);
}

#faq {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    height: 90vh;
    background-image: url("/assets/images/background-faq.png");
    background-size: 100% 100%;
}

#consultant,
#definition,
#service {
    cursor: pointer;
}
